.termoo {
  height: 80%;
  position: relative;
}

.termoo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.termoo-header div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
}

.termoo-header span {
  font-size: 1.8rem;
}

.termoo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.border-locked {
  border-color: #44475a;
}

.border-wrong {
  border-color: #ff5555;
}

.border-close {
  border-color: #ffb86c;
}

.border-correct {
  border-color: #46cc67;
}

.border-unlock {
  border-color: #bd93f9;
}

.bg-hover-locked:hover {
  background-color: #44475a;
}

.bg-hover-wrong:hover {
  background-color: #ff5555;
}

.bg-hover-close:hover {
  background-color: #ffb86c;
}

.bg-hover-correct:hover {
  background-color: #46cc67;
}

.bg-hover-unlock:hover {
  background-color: #bd93f9;
}

.bg-locked {
  background-color: #44475a;
}

.bg-wrong {
  background-color: #ff5555;
}

.bg-close {
  background-color: #ffb86c;
}

.bg-correct {
  background-color: #46cc67;
}

.bg-unlock {
  background-color: #bd93f9;
}

@media (max-width: 375px) {
  .termoo-header div {
    width: 45px;
    height: 45px;
  }

  .termoo-header span {
    font-size: 1.5rem;
  }
}
