<div class="termoo">
  <header class="termoo-header text-white">
    <div class="bg-unlock">
      <span class="fs-1 fw-bold">T</span>
    </div>
    <div class="bg-wrong">
      <span class="fs-1 fw-bold">E</span>
    </div>
    <div class="bg-close">
      <span class="fs-1 fw-bold">R</span>
    </div>
    <div class="bg-correct">
      <span class="fs-1 fw-bold">M</span>
    </div>
    <div class="bg-unlock">
      <span class="fs-1 fw-bold">O</span>
    </div>
    <div class="bg-wrong">
      <span class="fs-1 fw-bold">O</span>
    </div>
  </header>

  <main class="termoo-main">
    <app-termoo-modal [win]="termooService.won"></app-termoo-modal>
    <app-termoo-table></app-termoo-table>
  </main>
</div>
