<div class="termoo">
  <header class="termoo-header text-white">
    <span class="fs-1 fw-bold bg-unlock">T</span>
    <span class="fs-1 fw-bold bg-wrong">E</span>
    <span class="fs-1 fw-bold bg-close">R</span>
    <span class="fs-1 fw-bold bg-correct">M</span>
    <span class="fs-1 fw-bold bg-unlock">O</span>
    <span class="fs-1 fw-bold bg-wrong">O</span>
  </header>

  <main class="termoo-main">
    <app-termoo-modal></app-termoo-modal>
    <app-termoo-table></app-termoo-table>
  </main>
</div>
