<div class="termoo">
  <header class="termoo-header text-white">
    <div class="border-unlock bg-hover-unlock">
      <span class="fw-bold">T</span>
    </div>
    <div class="border-wrong bg-hover-wrong">
      <span class="fw-bold">E</span>
    </div>
    <div class="border-close bg-hover-close">
      <span class="fw-bold">R</span>
    </div>
    <div class="border-correct bg-hover-correct">
      <span class="fw-bold">M</span>
    </div>
    <div class="border-unlock bg-hover-unlock">
      <span class="fw-bold">O</span>
    </div>
    <div class="border-wrong bg-hover-wrong">
      <span class="fw-bold">O</span>
    </div>
  </header>

  <main class="termoo-main">
    <app-termoo-modal
      [win]="termooService.won"
      (eventPlayAgain)="onPlayAgain()"
      (eventShareTwitter)="onShareTwitter()"
    ></app-termoo-modal>
    <app-termoo-table></app-termoo-table>
  </main>
</div>
