@import "../../core/styles/colors";
@import "../../core/styles/common";

$border: 15px;

.memo {
  @include display-flex(column);
  height: 100vh;
  position: relative;
}

.grid {
  position: relative;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
