<div class="memo">
  <!-- <div class="game-config text-white">
    <div class="fw-bold config-card">
      <div class="inside">
        <span>
          Fácil
          <i class="bi bi-emoji-smile fs-1"></i>
        </span>
        <span>12<span>x</span></span>
      </div>
    </div>
    <div class="fw-bold config-card">
      <div class="inside">
        <span>
          Médio
          <i class="bi bi-emoji-neutral fs-1"></i>
        </span>
        <span>24<span>x</span></span>
      </div>
    </div>
    <div class="fw-bold config-card">
      <div class="inside">
        <span>
          Difícil
          <i class="bi bi-emoji-angry fs-1"></i>
        </span>
        <span>36<span>x</span></span>
      </div>
    </div>
  </div> -->
  <div class="grid">
    <div *ngFor="let memo of memos; let i = index" (click)="flipCard(i)">
      <app-memo-card [memo]="memo"></app-memo-card>
    </div>
  </div>
</div>
