@import "../../core/styles/colors";
@import "../../core/styles/common";

$border: 15px;

.memo {
  @include display-flex(column);
  height: 100vh;
  position: relative;
}

.game-config {
  border-radius: $border;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  position: fixed;
  width: auto;
  z-index: 1;

  .config-card {
    @include display-flex(row);
    border-radius: $border;
    min-height: 370px;
    min-width: 250px;
    position: relative;

    &:nth-child(1) {
      background-color: $color-green;
      color: $color-green;

      -webkit-box-shadow: -10px 0px 13px -7px #000000,
        10px 0px 13px -7px #000000, 10px 9px 0px -1px $color-green;
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        10px 9px 0px -1px $color-green;
    }

    &:nth-child(2) {
      background-color: $color-yellow;
      color: $color-yellow;

      -webkit-box-shadow: -10px 0px 13px -7px #000000,
        10px 0px 13px -7px #000000, 10px 9px 0px -1px $color-yellow;
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        10px 9px 0px -1px $color-yellow;
    }

    &:nth-child(3) {
      background-color: $color-red;
      color: $color-red;

      -webkit-box-shadow: -10px 0px 13px -7px #000000,
        10px 0px 13px -7px #000000, 10px 9px 0px -1px $color-red;
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        10px 9px 0px -1px $color-red;
    }

    &:hover {
      .inside {
        span:nth-child(2) {
          font-size: 6rem;
          -webkit-text-stroke-width: 3px;
          -webkit-text-stroke-color: $color-dark;
          color: $color-dark;
        }
      }
    }

    .decorator {
      position: absolute;
      color: $color-dark;
      font-size: 2.5rem;
      &:nth-child(1) {
        left: 5px;
        top: 0px;
      }

      &:nth-child(2) {
        right: 5px;
        bottom: 0px;
      }
    }

    .inside {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr 0.5fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      text-align: center;
      width: 70%;
      height: 70%;
      border-radius: $border;
      //border: 2px solid $color-dark;

      span:nth-child(1) {
        font-size: 2.5rem;
        color: $color-dark;
      }

      span:nth-child(2) {
        font-size: 6rem;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $color-dark;
        /* Firefox */
        -moz-transition: color 0.25s ease-in;
        /* WebKit */
        -webkit-transition: color 0.25s ease-in;
        /* Opera */
        -o-transition: color 0.25s ease-in;
        /* Standard */
        transition: color 0.25s ease-in;

        span:nth-child(1) {
          font-size: 2.5rem;
          color: $color-dark;
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.grid {
  position: relative;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
