.termo-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #282a36d8;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #252525;
  min-width: 500px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #252525;
}

.modal-header.win {
  background-color: #46cc67;
}

.modal-header.lose {
  background-color: #bd3b50;
}

.modal-body {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-body-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-body-card span:first-child.win {
  color: #46cc67;
}

.modal-body-card span:first-child.lose {
  color: #bd3b50;
}

.modal-footer {
  border-color: #252525;
}

.modal-footer .bg-twitter {
  background-color: #1d9bf0;
}

.modal-footer .bg-play-again {
  background-color: #44475a;
}
