<div class="termo">
  <header>
    <h1 class="text-white">TERMO</h1>
  </header>

  <main>
    <div>
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let lettersColumns of termoService.grid">
            <td *ngFor="let letter of lettersColumns" [ngClass]="letter.status">
              <span>{{ letter.letter }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div id="keybord">
      <button id="key_q">Q</button>
      <button id="key_w">W</button>
      <button id="key_e" class="wrong" style="animation-duration: 0s">E</button>
      <button id="key_r">R</button>
      <button id="key_t" class="wrong" style="animation-duration: 0s">T</button>
      <button id="key_y">Y</button>
      <button id="key_u">U</button>
      <button id="key_i">I</button>
      <button id="key_o">O</button>
      <button id="key_p">P</button>
      <button id="key_a">A</button>
      <button id="key_s">S</button>
      <button id="key_d">D</button>
      <button id="key_f">F</button>
      <button id="key_g">G</button>
      <button id="key_h">H</button>
      <button id="key_j">J</button>
      <button id="key_k">K</button>
      <button id="key_l">L</button>
      <button id="key_backspace">⌫</button>
      <button id="key_z">Z</button>
      <button id="key_x">X</button>
      <button id="key_c">C</button>
      <button id="key_v">V</button>
      <button id="key_b">B</button>
      <button id="key_n">N</button>
      <button id="key_m">M</button>
      <button id="key_enter">ENTER</button>
    </div> -->
  </main>
</div>
